Package: libnginx-mod-http-auth-ldap
Version: 1.0.0-1
Architecture: amd64
Maintainer: Jesse Portnoy <jesse@packman.io>
Installed-Size: 62
Depends: nginx-abi-1.24.0-1, libc6 (>= 2.14), libldap-2.5-0 (>= 2.5.4)
Recommends: nginx
Section: httpd
Priority: optional
Multi-Arch: foreign
Homepage: https://github.com/jessp01/nginx-auth-ldap
Description: LDAP authentication module for Nginx
 The nginx_http_auth_ldap module enables authentication via LDAP.
